header { 
    background-color:#DCDCDC;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.flex_container_1 {
    display: flex;
    height: 200px;
}

section {
    width: 70%;
}

aside {
    background-color: #c0d8c0;
    width: 30%;
    text-align: center;
    padding-top: 20px;
}

.flex_container_2 {
    display: flex;
    background-color: #FFF8DC;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.section_element_1 {
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.section_element_2 { 
    background-color: #FFDEAD;
    width: 45%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.section_element_3 {
    background-color: #FFDEAD;
    width: 45%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.section_element_4 {
    background-color: #FFDEAD;
    width: 95%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.flex_container_3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color:#DCDCDC;
} 

.footer {
    background-color: white;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}